/* 애니메이션 효과만 유지 */

.menu .button:hover {
  transform: translateY(-3px);
}

.menu .nav-item {
  font-size: 1.2vw;
}

/* 필요하다면 아이콘 사이즈 커스터마이징 */
.menu .icon {
  font-size: 20px;
}




/* 여기부터 찬민이가 작성한 내용 */
/* 기존 .button-container 스타일 유지 */
.button-container {
  display: flex;
  background-color: rgba(245, 73, 144);
  width: auto;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0 10px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #539dec;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-link {
  display: block;
  text-align: center;
  padding: 5px 10px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-left: 0;
}

.navbar {
  background-color: rgba(245, 73, 144);
}

.user-name {
  display: inline-block;
  white-space: nowrap; /* 이름이 한 줄로 표시되도록 */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* 유저 이름의 최대 너비 */
  font-weight: bold;
  font-size: 1.1em;
  color: #0ee62e;
  padding-right: 5px; /* '님'과의 간격 */
}

.user-suffix {
  font-size: 0.9em;  /* '님'의 폰트 크기를 유저 이름보다 작게 설정 */
  color: #fff;
  font-weight: normal;  /* '님'의 글씨를 좀 더 얇게 설정 */
}

.navbar-brand {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  margin-right: auto;
}
